.return-thread-list {
  display: flex;                /* コンテンツを中央寄せ */
  align-items: center;
  justify-content: center;
  border: 2px solid #020000;
  border-radius: 0px;
  padding: 4px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.return-thread-list:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
